@import "bootstrap";

iframe{
	height: 65px;
}

a{
	color: greenyellow;
}


textarea{
	width: 800px !important;
	height: 350px !important;
}

input{
	width: 800px !important;
}

label{
	text-align: center;
}

